body {
  background-color: #111;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.logo {
  width: 120px;
  margin-top: 20px;
}

.btn {
  background: #fff;
  color: #000;
  padding: 10px 20px;
  border-radius: 999px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}

section {
  padding: 40px 20px;
}

img {
  max-width: 90%;
  margin: 20px 0;
  border-radius: 12px;
}